[Unit] 
Description=Bind Bluetooth device %i to /dev/rfcomm0 

Wants=bluetooth.service 
After=bluetooth.service 
Before=evnotipi.service

[Service] 
Type=exec
ExecStart=rfcomm bind 0 %i

[Install] 
WantedBy=multi-user.target
#WantedBy=evnotipi.service
